<h1>Listing concessionaires</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @concessionaires.each do |concessionaire| %>
  <tr>
    <td><%= concessionaire.name %></td>
    <td><%= link_to 'Show', concessionaire %></td>
    <td><%= link_to 'Edit', edit_concessionaire_path(concessionaire) %></td>
    <td><%= link_to 'Destroy', concessionaire, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Concessionaire', new_concessionaire_path %>
