<h1>Listing models</h1>

<table>
  <tr>
    <th>Montadora</th>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @models.each do |model| %>
  <tr>
    <td><%= Assembler.find(model.ass_code).name %></td>
    <td><%= model.name %></td>
    <td><%= link_to 'Mostrar', model %></td>
    <td><%= link_to 'Editar', edit_model_path(model) %></td>
    <td><%= link_to 'Excluir', model, :confirm => 'Você está certo diso?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Incluir novo modelo', new_model_path %>
