<p id="notice"><%= notice %></p>

<p>
  <b>Cid codigo:</b>
  <%= @cidade.cid_codigo %>
</p>

<p>
  <b>Est codigo:</b>
  <%= @cidade.est_codigo %>
</p>

<p>
  <b>Cid nome:</b>
  <%= @cidade.cid_nome %>
</p>


<%= link_to 'Edit', edit_cidade_path(@cidade) %> |
<%= link_to 'Back', cidades_path %>
