<h1>Listing auctions</h1>

<table>
  <tr>
    <th>Carro</th>
    <th>Auction start</th>
    <th>Initial value</th>
    <th>Buy now value</th>
    <th>Capping value</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @auctions.each do |auction| %>
  <tr>
	<% c = Car.find(auction.car_id) %>
    <td><%= Assembler.find(Model.find(c.model_id).assembler_id).name+' - '+Model.find(c.model_id).name+' - '+c.plate+' - '+c.manufacture_year.to_s+'/'+c.model_year.to_s+' - '+c.colour %></td>
    <td><%= auction.auction_start %></td>
    <td><%= auction.initial_value %></td>
    <td><%= auction.buy_now_value %></td>
    <td><%= auction.capping_value %></td>
    <td><%= auction.status %></td>
    <td><%= link_to 'Show', auction %></td>
    <td><%= link_to 'Edit', edit_auction_path(auction) %></td>
    <td><%= link_to 'Destroy', auction, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Auction', new_auction_path %>
