<h1>Listing fuels</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fuels.each do |fuel| %>
  <tr>
    <td><%= fuel.name %></td>
    <td><%= link_to 'Show', fuel %></td>
    <td><%= link_to 'Edit', edit_fuel_path(fuel) %></td>
    <td><%= link_to 'Destroy', fuel, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fuel', new_fuel_path %>
