<p id="notice"><%= notice %></p>

<p>
  <b>Cli cpf:</b>
  <%= @cliente.cli_cpf %>
</p>

<p>
  <b>Cid codigo:</b>
  <%= @cliente.cid_codigo %>
</p>

<p>
  <b>Est codigo:</b>
  <%= @cliente.est_codigo %>
</p>

<p>
  <b>Cli nome:</b>
  <%= @cliente.cli_nome %>
</p>


<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
