<p id="notice"><%= notice %></p>

<p>
  <b>Leilão:</b>
  <% a = Auction.find(@bid.auction_id) %>
  <% c = Client.find(@bid.client_id) %>
  <%= Concessionaire.find(Car.find(a.car_id).concessionaire_id).name+' - '+Assembler.find(Model.find(Car.find(a.car_id).model_id).assembler_id).name+' - '+Model.find(Car.find(a.car_id).model_id).name+' - '+Car.find(a.car_id).plate+' - '+Car.find(a.car_id).manufacture_year.to_s+'/'+Car.find(a.car_id).model_year.to_s+' - '+Car.find(a.car_id).colour+' - '+a.auction_start.to_s+' - R$'+a.initial_value.to_s %>
</p>
<p>
  <b>Cliente:</b>
  <%= c.name+' - '+c.cpf %>
</p>
<p>
  <b>Value:</b>
  <%= @bid.value %>
</p>


<%= link_to 'Edit', edit_bid_path(@bid) %> |
<%= link_to 'Back', bids_path %>
