<h1>Listing cities</h1>

<table>
  <tr>
    <th>Estado</th>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cities.each do |city| %>
  <tr>
    <td><%= city.state.name %></td>
    <td><%= city.name %></td>
    <td><%= link_to 'Mostrar', city %></td>
    <td><%= link_to 'Editar', edit_city_path(city) %></td>
    <td><%= link_to 'Excluir', city, :confirm => 'Você tem certeza disso?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Incluir cidade', new_city_path %>
