<!DOCTYPE html>
<html>
<head>
	<title>LEILÃO DE SEMINOVOS</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="pragma" content="no-cache" /> 
	<meta http-equiv="expires" content="0" />
	<meta name="revisit-after" content="1 day" />
	<meta name="rating" content="Leilão de Carros" />
	<meta name="language" content="pt-br" />
	<meta name="robots" content="index,follow" />
	<%= stylesheet_link_tag "geral.css" %>
	<%= javascript_include_tag "rails.js", "timecounter.js", "cufon-yui.js", "Vagabond_500-Vagabond_700.font.js" %>
	<%= csrf_meta_tag %>
	<script type="text/javascript">
    		Cufon.replace('#menu-top ul li a');
		Cufon.replace('.title-1');
		Cufon.replace('#footer-content');
  	</script> 
</head>
<body id="home" onload="UR_Start();">
<div id="container">
	
  <div id="header">
  	<h1><a href="javascript:;">Leilão de Seminovos</a></h1>
    <div id="menu-top">
    	<ul>
      	<li><a href="javascript:;" class="active">Home</a></li>
        <li><a href="javascript:;">Como Participar</a></li>
        <li><a href="javascript:;">Leilões</a></li>
        <li><a href="javascript:;">Quem Somos</a></li>
        <li><a href="javascript:;">FAQ</a></li>
        <li><a href="javascript:;">Fale Conosco</a></li>
      </ul>
    </div><!-- /menu-top-->
    
    <div id="login-topo">
	<div id="user_nav">
		<% if user_signed_in? %>
			Signed in as <%= current_user.email %>. Not sure?
			<%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign out", destroy_user_session_path %>
		<% else %>
			<%= link_to "Sign up", new_user_registration_path %>
		<% end %>
	</div>
    	<form accept-charset="UTF-8" action="/users/sign_in" class="user_new" id="user_new" method="post">
      	<label for="username">Usuário</label>
        <input id="user_email" name="user[email]" size="10" type="email" value="" />
      	<label for="password">Senha</label>
        <input id="user_password" name="user[password]" size="6" type="password" value="" />
	<input name="user[remember_me]" type="hidden" value="0" /><input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1" /> <label for="user_remember_me">Lembrar</label>
        <input type="submit" value="Entrar" name="submit" />
      </form>
    </div>
    
    <div id="timenow">
    	<p id="ur"></p>
    </div><!-- /timenow-->
  
  </div><!-- /header -->

  <div id="content">
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
  	<div id="central">
    	
      <div id="top-title">
      	<h2 class="title-1">Leilao Online / <span>Como Participar</span></h2>
      </div>
      
      <div id="text">
      	<p><%= yield %></p>
      </div><!-- /text -->
    </div><!-- /central -->
    
    <div id="sidebar">
    	
    </div><!-- /sidebar -->
  	
  </div><!-- /content -->
  
  <div id="footer">
  	<div id="footer-content">
    	<p><img src="images/redes-sociais.png" width="224" height="34" alt="" /></p>
      <p>POLÍTICA DO LEILÃO  |  TERMOS DE USO  |  FAQ  |  FALE CONOSCO  |  LEILÃO ON-LINE  |  DOWNLOADS  |  ALERTA DE VEÍCULOS</p>
      <p>LEILÃO DE SEMINOVOS • Av. JOÃO XXIII - 3575 - BAIRRO SÃO CRISTÓVÃO - TERESINA/PIAUÍ</p>
    </div><!-- /footer-content -->
  </div><!-- /footer -->
  
</div><!-- /container-->

</body>
</html>
