<h1>Listing estados</h1>

<table>
  <tr>
    <th>Est codigo</th>
    <th>Est nome</th>
    <th>Est sigla</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @estados.each do |estado| %>
  <tr>
    <td><%= estado.est_codigo %></td>
    <td><%= estado.est_nome %></td>
    <td><%= estado.est_sigla %></td>
    <td><%= link_to 'Show', estado %></td>
    <td><%= link_to 'Edit', edit_estado_path(estado) %></td>
    <td><%= link_to 'Destroy', estado, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Estado', new_estado_path %>
