<h1>Lista de carros</h1>

<table>
  <tr>
    <th>Modelo</th>
    <th>Motor</th>
    <th>Placa</th>
    <th>Compustíveis</th>
    <th>Cor</th>
    <th>Quilometragem</th>
    <th>Ano de fabricação</th>
    <th>Ano do modelo</th>
    <th>Opcionais</th>
    <th>Observações</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cars.each do |car| %>
  <tr>
    <td><%= Model.find(car.model_id).name %></td>
    <td><%= car.engine %></td>
    <td><%= car.plate %></td>
    <td>
	<% if car.fuels.all.length > 1 %>
		<%= 'Flex' %>
	<% else %>
		<%= car.fuels.find(1).name %>
	<% end %>
    </td>
    <td><%= car.colour %></td>
    <td><%= car.mileage %></td>
    <td><%= car.manufacture_year %></td>
    <td><%= car.model_year %></td>
    <td><%= car.optionals.all.length %></td>
    <td><%= car.comments %></td>
    <td><%= link_to 'Mostrar', car %></td>
    <td><%= link_to 'Editar', edit_car_path(car) %></td>
    <td><%= link_to 'Excluir', car, :confirm => 'Você tem certeza disso?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Incluir novo carro', new_car_path %>
