<p id="notice"><%= notice %></p>

<p>
  <b>Concessionária:</b>
  <%= @car.concessionaire.name %>
</p>

<p>
  <b>Modelo do carro:</b>
  <%= @car.model.name %>
</p>

<p>
  <b>Motor:</b>
  <%= @car.engine %>
</p>

<p>
  <b>Placa:</b>
  <%= @car.plate %>
</p>

<p>
	<b>Combustíveis:</b>
	<%= @car.fuels.collect{|f| [f.name]}.join(", ") %>
</p>

<p>
  <b>Cor:</b>
  <%= @car.colour %>
</p>

<p>
  <b>Quilometragem:</b>
  <%= @car.mileage %>
</p>

<p>
  <b>Ano de fabricação:</b>
  <%= @car.manufacture_year %>
</p>

<p>
  <b>Ano do modelo:</b>
  <%= @car.model_year %>
</p>

<p>
	<b>Opcionais:</b>
	<%= @car.optionals.collect{|o| [o.name]}.join(", ") %>
</p>

<p>
  <b>Observações:</b>
  <%= @car.comments %>
</p>


<%= link_to 'Editar', edit_car_path(@car) %> |
<%= link_to 'Voltar', cars_path %>
